/HTML-Modules/node_modules
/Projects/node_modules
/Courses
/Projects/src/Youtube/components/apis
/Resources.xlsx 
/Portfolio/FindRecipe/node_modules
/Portfolio/FindRecipe/Note.txt
/Portfolio/Trillo/node_modules
/Portfolio/Trillo/Note.txt
/Portfolio/Natours/node_modules
/Portfolio/Natours/Note.txt
/Company