* {
    margin: 0; 
    padding: 0; 
}

*, 
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Arial', 'Helvetica', 'sans-serif';
}

body {
    font-size: 62.5%;
}

.herosda {
    color: #fff; 
    background-image: linear-gradient(to right, 
        rgb(27, 24, 24, 1),
        rgba(182, 185, 190, .5)),
        url('https://source.unsplash.com/collection/190727/1600x900');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;

    *position: relative;
}

h1 {
    font-size: 1rem; 
    font-weight: 600;
}

h2 {
    font-size: 2rem; 
    font-weight: 300;
}

.hero-content {
    height: 50%;
    background-image: linear-gradient(
        rgba(83, 61, 61, .6),
        rgba(122, 114, 114, 0.7)
    );
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}




