// Font family 
$font-primary: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS 
$bp-largest: 75em;  // 1200px / 16px 
$bp-larg: 62.5em;   // 1000px / 16px = 62.5em 
$bp-medium: 50em;   // 800px / 16px 
$bp-small: 31.25em; // 500px / 16px 


// Reset CSS 
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; 
    box-sizing: border-box;
    font-family: $font-primary;

    @media only screen and (min-width: $bp-largest) {
    //    font-size: 50%;
    }
}

