
header {
  /*  background-image: linear-gradient(
        to bottom right,
        rgb(243, 235, 232), rgba(165, 189, 31, 0)),
        url('../asset/img/header-bg.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    padding: 0 5rem; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.site-logo {
    border: 1px solid rgb(92, 172, 247);
    background-color: rgba(47, 171, 243, 1);
    color: #fff; 
    font-size: 2rem; 
    font-family: 'Monoton', cursive;
    margin: 2rem 0 2rem 0; 
    padding: 3rem; 
    box-shadow: 0 0 2px 2px rgb(206, 201, 201);
    border-radius: 50%;

    &:hover {
        cursor: pointer;
    }
}

.nav-list {
    list-style: none;

    &__item {
        font-family: 'Sans Serif';
        display: inline-block;
        padding: 1.8rem; 
        font-size: 1.8rem;  
        background-color: rgb(7, 110, 114); 
        text-transform: uppercase;
        border-radius: 5%;

        border-right: 1px solid #fff; 
    }

    &__icon {
        fill: rgb(15, 158, 151);  
        width: 2.5rem; 
        height: 2.5rem;
        margin: 0 .5rem; 
    }

    &__link {
        text-decoration: none;
        color: rgb(83, 85, 85); 
        font-weight: 400;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon:hover {
        fill: rgb(39, 26, 223); 
    }
}

.nav-link {
    text-decoration: none;
    color: #fff;

    /*
    &:before {
        content: "";
        display: inline-block;
        background: url('https://img.icons8.com/bubbles/50/000000/man-in-blue-jacket-information.png') no-repeat; 
        background-size: cover;
        width: 14px;
    }*/

    &:hover {
        color: rgb(7, 231, 127);   
        text-decoration: underline;      
    }
}


.hero__background {
    background-image: linear-gradient(
            to right,
            rgba(54, 54, 58, 0.8),
            rgba(39, 40, 43, 0.8)
        ),
        url('https://res.cloudinary.com/djpzwzllb/image/upload/v1578338206/Hero-bg_zggja4.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh; 

    position: relative;
    text-align: center;
}

.hero__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: all .2s;
    animation: moveInLeft 2s ease-in;
    
    &--more {
        text-decoration: none;
        transition: all .2s;
        -webkit-animation: readMore 10s linear 5s infinite alternate; 
        animation: readMore 10s linear 5s infinite alternate; 
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes readMore {
    0% { color:red; }
    25%  { color:yellow; }
    50%  { color:blue; }
  75%  { color:green; }
  100% { color:#fff; }
}