
// Color variables 
$color-grey-light-1: rgba(247, 243, 243, 0.103); 

$color-grey-dark-1: rgba(255, 255, 255, 0.103); 

$color-green-light-1: rgb(179, 243, 182); 
$color-green-light-2: rgb(59, 224, 53); 
$color-green-dark-1: rgb(15, 136, 45); 
$color-green-dark-2: rgb(6, 61, 10); 