.about {
    padding: 10rem 0; 
    margin: 0 5rem; 

    @media only screen and (max-width: 37.5em) {    // 600px 
        margin: 0;
    }

    &__detail {
        display: flex;
        flex-direction: row;
        justify-content: center;

        position: relative;
        z-index: 0;

        @media only screen and (max-width: 62.5em) {    // 1000px 
            flex-direction: column;
        }

        
        &--me {
            background-color: rgba(236, 243, 245, .5);
            box-shadow: 0 0 5px 1px rgb(204, 200, 200);
            padding: 4rem; 
        }

        &--skills {
            margin: 0 8rem; 

            @media only screen and (max-width: 62.5em) {
                margin: 0; 
            }
        }

        &--work {
            background-color: rgba(236, 243, 245, .5);
            box-shadow: 0 0 5px 1px rgb(204, 200, 200);
            padding: 4rem;
        }
    }
}

.heading-1 {
    &__display {
        color: rgba(107, 100, 100, 1); 
        text-shadow: none;
        text-transform: uppercase; 
        font-family: 'Gentium Basic';
    }

    &__exp {
        text-shadow: none;
        color: rgb(37, 35, 39); 
        text-transform: none;
        font-size: 3rem;
        font-weight: 400;
    }
}

.heading-4 {
    &__year {
        color: rgb(58, 54, 54); 
    }
}

// reuse style  
.meter-bg {
    height: 1.5rem; 
    border-radius: 25px;
    margin-right: .7rem; 
}


.tech {
    display: grid;
    grid-template-rows: repeat(2, 1fr); 
    grid-template-columns: 6rem 1fr;  
    //justify-content: center;
    align-items: center;

    &__icon {
        align-self: center;
    }

    &__meter {
        width: 100%; 
        border-radius: 25px;
        padding: .3rem; 

        display: flex;
        justify-content: flex-start;
        align-items: center;

        &--bg {
            @extend .meter-bg; 
        }

        &--value {
            color: #fc0a53;
            font-weight: 600;
        }

        // HTML5
        &--html5 {
            box-shadow: 0 0 0 rgb(247, 148, 109);
            border: 1px solid rgb(247, 148, 109);
        }

        // CSS3 
        &--css3 {
            box-shadow: 0 0 0 #1472B6;
            border: 1px solid #1472B6; 
        }

        // JavaScript 
        &--js {
            box-shadow: 0 0 0 #F7DF1E;
            border: 1px solid #F7DF1E;
        }

        // React 
        &--react {
            box-shadow: 0 0 0 #61DAFB;
            border: 1px solid #61DAFB;
        }

        // jQuery 
        &--jQuery {
            box-shadow: 0 0 0 #0669AD;
            border: 1px solid #0669AD;
        }
    }
} 

@function innerColor($color) {
    @return $color; 
}

.inner--html5 {
    text-align: center;
    background-color: rgb(247, 148, 109);
    width: 80%; 
    border: 1px solid rgb(247, 148, 109);
 //   transition: all .2s;
 //   animation-name: html5MoveIn; 
 //   animation-duration: 5s;


    &:after {
        content: "";
        color: #fff; 
        padding: 1.5rem; 
        font-size: 1.5rem; 
        font-weight: 600;
        padding: 1rem; 
    }
}

@keyframes html5MoveIn {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.inner--css3 {
    background-color: #1472B6; 
    width: 80%; 
    border: 1px solid #1472B6; 
}

.inner--js {
    background-color: #F7DF1E; 
    width: 70%; 
    border: 1px solid #F7DF1E; 
}

.inner--react {
    background-color: #61DAFB; 
    width: 60%; 
    border: 1px solid #61DAFB; 
}

.inner--jQuery {
    background-color: #0669AD; 
    width: 50%; 
    border: 1px solid #0669AD; 
}

.meter__value {
    color: #000;  
    font-weight: 600;
    font-size: 1.5rem; 
}

.ps--logo {
    width: 15rem; 
}

.exp {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__logo {
        width: 8rem; 
        height: 8rem;
        border-radius: 50%; 
        
        &--comcast {
            border: 1px solid #fff; 
        }
    }

    &__line {
        width: 1px; 
        height: 100px; 
        background-color: lightgray;   
    }

    &__link {
        text-decoration: none;
        font-size: 2rem; 
        padding: 1.2rem;
        color: #fff; 
        background-color: rgba(18, 109, 228, .8);  

        &:hover {
            transition: all .2s;
            transform: skewX(-10deg);
        }
    }
}



// Resume PDF 
.resume {
    background-color: rgba(44, 45, 46, 0.5);
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    &__close {
        position: absolute;
        top: 20px;
        left: 50%;
    }

    &__pdf {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -42%); 
    }

    &__btn {
        border: 0;
        border-radius: none;
        font-size: 2rem;
        padding: 1rem; 
        background-color: rgb(241, 48, 48);
        box-shadow: 0 1px 0 1px rgb(209, 124, 124);
        color: #fff;
        transition: all .2s ease;

        &:hover {
            cursor: pointer;
            background-color: rgb(241, 48, 48);
            text-decoration: underline;
            transform: scale(1.3);
        }
    }
}