.work {
    background-image: linear-gradient(
        to right bottom, 
        rgba(185, 185, 190, 0.8), 
        rgb(235, 235, 240)
    );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem 0;   

}

.company {
    margin: 0 2rem; 

    display: flex;
    flex-direction: row;
    justify-content: center;

    @media only screen and (max-width: 75em) { // 1200px 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 5rem;    
    }

    @media only screen and (max-width: 37.5em) {  // 600px 
        margin: 0 2rem; 
    }

    // GLOBAL
    &--heading2 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 3rem;
        text-align: center;
        padding: 1.6rem; 
    }

    &--heading3 {
        font-family: 'Lucida Grande', 'sans-serif';
        font-size: 2rem;
        border-top: 1px solid rgba(167, 160, 160, 0.514);
        color: rgba(95, 91, 91, 0.8);
        margin: 0 2rem;
        padding-top: 2rem;
        padding-left: 2rem;  
    }

    &__photo {
        max-width: 100%;
    }

    &__list {
        font-size: 1.5rem;
        margin: 1.5rem 0 0 3rem; 
        line-height: 1.5;
        padding-left: 3rem; 
        font-family: 'sans serif';
    }

    &--comcast {
        margin-right: 1.5rem;
        background-color: rgba(255, 255, 255, 0.74); 
        border-top: 4px solid rgb(190, 6, 83);
        color: rgb(121, 9, 9);

        // add a margin right between each section when viewport is greater than 1200px 
        @media only screen and (max-width: 75em) { // 1200px 
            margin-right: 0;
        }
    }

    &--reveal {
        margin-right: 1.5rem; 
        background-color: rgba(255, 255, 255, 0.74); 
        border-top: 4px solid rgb(6, 190, 89);
        color: rgb(6, 92, 11);

        // add a margin right between each section when viewport is greater than 1200px 
        @media only screen and (max-width: 75em) { // 1200px
            margin-right: 0;
        }
    }

    &--ibx {
        background-color: rgba(255, 255, 255, 0.74); 
        border-top: 4px solid rgb(23, 136, 212);
        color: rgb(9, 61, 129);
    }
}

.photo {
    max-width: 100%; 
    height: auto; 
}

.company--tech {
    margin: 2rem 3rem; 
    
    &__icon {
        margin: 1rem;
    }

}