.disclaimer {
    background-color: rgb(64, 61, 85);
    padding: 2rem; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem; 
    color: rgba(219, 217, 217, 0.651); 
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    // 600px 
    @media only screen and (max-width: 37.5em) {
        flex-direction: column;
    }

    &__items {
        // 600px 
        @media only screen and (max-width: 37.5em) {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
}


.list {
    list-style: none;

    &__item {
        display: inline-block;
    }

    & > li {
        border-right: 1px solid #000;
        padding: 0 1rem;
    }

    & > li:last-child {
        border: none; 
    }

    &__link {
        text-decoration: none;
        color: rgb(185, 180, 180); 
        
        display: relative;

        &:hover {
            cursor: pointer;
            color: #fff;
        }
    }
}

.social {
    transition: all .2s;

    &__list {
        display: inline-block;
        margin: 1rem; 
    }

    &__icon:hover {
        transform: translateY(-10%);
    }
    
}

.app {
    &__items {
        display: absolute;
        top: -10px;

        list-style: none;
    }

    &__item {

    }

    &__link {
        color: #fff;
    }
}



// nav {
//     display: block;
// }

// nav ul {
//     //margin: 0;
//    // padding: 0;
//     list-style: none;
// }

// .nav a {
//     display: block;
//     color: #fff; 
//     text-decoration: none;
//     //padding: .8rem 1rem; 
//     text-transform: uppercase;
//     letter-spacing: 2px;
//     text-shadow: 0 -1px 0 #000;

//     position: relative;
// }

// .nav {
//     vertical-align: top;
//     display: inline-block;

//     &-link {
//         margin-right: 5px;
//     }
// }

// .nav li {
//     position: relative;
// }

// .nav > li {
//     float: left;
//     border-right: 2px solid #aaa;
//     margin-right: 1rem;
// }

// .nav > li:last-child {
//     border: 0;
// }

// .nav > li > a {
//     margin-bottom: 1px;
// }

// .nav > li:hover,
// .nav > li:hover > a {
//     border-bottom-color: orange;
// }

// .nav li:hover > a {
//     color: orange;
// }

// .nav > li:first-child {
//     border-radius: 4px 0 0 4px;
// }

// .nav > li:first-child > a {
//     border-radius: 4px 0 0 0;
// }

// .nav li a:first-child:nth-last-child(2):before {
//     content: "";
//     position: absolute;
//     height: 0;
//     width: 0; 
//     border: 5px solid transparent;
//     top: 50%;
//     right: -12px;
// }

// .nav ul {
//     position: absolute;
//     white-space: nowrap;
//     border-bottom: 5px solid orange;
//     z-index: 1;
//     left: -999rem;
// }

// .nav > li:hover > ul {
//     left: auto;
//     margin-top: 5px; 
//     min-width: 100%;
// }

// .nav > li li:hover > ul {
//     left: 100%;
//     margin-left: 1px;
//     top: -1px;
// }

// .nav > li > a:first-child:nth-last-child(2)::before {
//     border-top-color: #fff;
// }

// .nav > li:hover > a:first-child:nth-last-child(2):before {
//     border: 5px solid transparent; 
//     border-bottom-color: orange; 
//     margin-top: -5px;
//   }
//   .nav li li > a:first-child:nth-last-child(2):before {  
//     border-left-color: #aaa; 
//     margin-top: -5px
//   }
//   .nav li li:hover > a:first-child:nth-last-child(2):before {
//     border: 5px solid transparent; 
//     border-right-color: orange;
//     right: 10px; 
//   }
