footer {
    background-color: lightslategrey;
    padding: 2rem; 
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(221, 212, 212, 0.479); 
    font-size: 1.3rem; 
}